@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #122c34;
  --secondary-color: #248cfa;
  --dark-grey: #6e6e6e;
  --light-grey: #b0b0b0;

  --container-width: 1100px;
  --gutter: 20px;

  --main-font: "Raleway", sans-serif;
  --secondary-font: "Arvo", serif;
  --title-font: "Abril Fatface", serif;
  --alt-font: "Acme", sans-serif;
}

/* G E N E R A L */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--main-font);
}
img {
  width: 100%;
  object-fit: cover;
}
body {
  min-height: 100vh;
  padding-inline: var(--gutter);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}